<!DOCTYPE html>
<html>

<head>
  <title>Image Upload App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href={{url_for('static', filename='css/styles.css' )}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/spinner.css' )}}>
  <link rel="stylesheet" href={{url_for('static', filename='css/bean-eater.css' )}}>
</head>

<body>
  <!-- loading bean-eater -->
  <div id="loading-bean-eater" class="loadingio-bean-eater" style="visibility: hidden">
    <div class="ldio-bean-eater">
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- loading spinner -->
  <div id="loading-spinner" class="loadingio-spinner" style="visibility: hidden">
    <div class="ldio-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- frame: main-container -->
  <div class="frame main-container">
    <!-- frame: upload-section -->
    <div class="frame upload-section">
      <!-- frame: upload-container -->
      <div class="frame upload-container">
        <!-- frame: app-title -->
        <div class="frame app-title">
          <h1>Face Redactor</h1>
          <h2>
            A face redaction server using Python, FastAPI, Celery, YOLO, and
            OpenCV.
          </h2>
        </div>
        <!-- frame: select-zone -->
        <div class="frame select-zone">
          <form id="upload-form" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" id="fileInput" accept="image/*" autocomplete="off" />
            <input type="submit" id="formSubmit" value="Upload" />
          </form>
          <!-- frame: drop-zone -->
          <div class="frame drop-zone">
            <div id="drop-area">Drag and drop<br />your image here</div>
          </div>
        </div>
      </div>
      <!-- frame: preview-container -->
      <div class="frame preview-container">
        <div id="preview">Preview Area</div>
      </div>
    </div>
    <!-- frame: result-section -->
    <div class="frame result-section">
      {% if filename %}
      <!-- frame: result-info -->
      <div class="frame result-info">
        <p>The image has been successfully uploaded and processed</p>
      </div>
      <!-- frame: result-image -->
      <div class="frame result-image">
        <a href="{{ url_for('static', filename='uploaded/' + filename) }}">
          <img id="uploaded-image" src="{{ url_for('static', filename='uploaded/' + filename) }}" />
        </a>
        <a href="{{ url_for('static', filename='redacted/' + filename) }}">
          <img id="redacted-image" src="{{ url_for('static', filename='redacted/' + filename) }}" />
        </a>
      </div>
      {% else %}
      <div class="frame result-info">
        <p>Please upload an image to see the results</p>
      </div>
      <!-- frame: result-image -->
      <div class="frame result-image"></div>
      {% endif %}
    </div>
  </div>
  <script src="{{url_for('static', filename='js/drag-and-drop.js')}}"></script>
</body>

</html>